{% if page.taxonomy.tag %}
<ul>
    {% for tag in page.taxonomy.tag %}
    <li><a class="label label-rounded {{ label_style ?: 'label-secondary' }} p-category" href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}#body-wrapper">{{ tag }}</a></li>
    {% endfor %}
</ul>
{% endif %}
