{% set crumbs = breadcrumbs.get() %}
{% set breadcrumbs_config = config.plugins.breadcrumbs %}
{% set divider = breadcrumbs_config.icon_divider_classes %}

{% if crumbs|length > 1 or breadcrumbs_config.show_all %}
<ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse ">
    {% for crumb in crumbs %}
    <li class="list-none px-0 mx-0 text-gray-400">
        {% if not loop.last %}
            {% if crumb.routable %}
                <a href="{{ crumb.url|e }}">
                    <span>{{ crumb.menu|e }}</span>
                </a>
            {% else  %}
                <span>{{ crumb.menu|e }}</span>
            {% endif %}
            >
        {% else %}
            {% if breadcrumbs_config.link_trailing %}
                <a href="{{ crumb.url|e }}">
                    <span>{{ crumb.menu|e }}</span>
                </a>
            {% else %}
                <span class="font-bold">{{ crumb.menu|e }}</span>
            {% endif %}
        {% endif %}
    </li>
    {% endfor %}
</ol>
{% endif %}
