{% macro loop(page) %}
    {% for p in page.children.visible %}
        {% if p.children.visible.count > 0 %}
            <li class="list-none">
                <a href="{{ p.url|e }}">
                    {{ p.menu|e }}
                </a>
                <ul>
                    {{ _self.loop(p) }}
                </ul>
            </li>
        {% else %}
            <li class="list-none">
                <a href="{{ p.url|e }}">
                    {{ p.menu|e }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}

<a href="/">Documentation Création Numérique</a>
<nav>
    <ul>
        {{ _self.loop(pages) }}
    </ul>
</nav>
