{% set image = page.media.images|first %}

<article class="border border-black border-solid p-2">
    <h1><a href="{{ page.url }}">

    {% if page.header.author %}
    {{ page.header.author }}
    {% else %}
    {{ page.title }}
    {% endif %}

    {% if image %}
    {{ image.cropZoom(400,300).html|raw }}
    {% else %}
    <p>{{ page.header.summary}}</p>
    {% endif %}

    </a></h1>
    <p></p>
</article>
