{% set image = page.media.images|first %}

<li><a href="{{ page.url }}">

    {% if page.header.author %}
    {{ page.header.author }}
    {% else %}
    {{ page.title }}
    {% endif %}

    {% if image %}
    {{ image.cropZoom(400,200).html|raw }}
    {% endif %}

</a></li>
<p>{{ page.header.summary}}</p>
